.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.background {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 2500px 1500px; /* 배경 이미지 크기 */
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
}

.player {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.controls {
  margin-top: 20px;
  color: white;
  font-family: "Courier New", monospace;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
}

